{
  "root": true,
  "extends": [
    "airbnb",
    "plugin:jsx-control-statements/recommended"
  ],
  "plugins": [
    "jsx-control-statements"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/no-named-as-default": 0,
    "react/jsx-filename-extension": 0,
    "react/no-unescaped-entities": 0,
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "no-debugger": 0,
    "no-param-reassign": 0
  }
}
